@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

main {
  padding: 1rem;
  margin: auto;
  min-height: 83vh;
  min-width: 87vw;
}

form {
  display: inline;
}

.centered {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}
.logo__item {
  height: 32px;
  width: 35px;
  border-radius: 50%;
}
.nav__char {
  color: aqua;
}

.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: #17975b;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
}

.main-header__nav {
  height: 100%;
  display: none;
  align-items: center;
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header__item {
  margin: 0 1rem;
  padding: 0;
}

.main-header__item a {
  text-decoration: none;
  color: white;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: #ffeb3b;
}

.mobile-nav {
  width: 30rem;
  height: 100vh;
  max-width: 90%;
  position: fixed;
  left: 0;
  top: 0;
  background: white;
  z-index: 10;
  padding: 2rem 1rem 1rem 2rem;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.mobile-nav.open {
  transform: translateX(0);
}

.mobile-nav__item-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.mobile-nav__item {
  margin: 1rem;
  padding: 0;
}

.mobile-nav__item a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
}

.mobile-nav__item a:active,
.mobile-nav__item a:hover,
.mobile-nav__item a.active {
  background: #00695c;
  color: white;
  border-radius: 3px;
}

#side-menu-toggle {
  border: 1px solid white;
  font: inherit;
  padding: 0.5rem;
  display: block;
  background: transparent;
  color: white;
  cursor: pointer;
}

#side-menu-toggle:focus {
  outline: none;
}

#side-menu-toggle:active,
#side-menu-toggle:hover {
  color: #ffeb3b;
  border-color: #ffeb3b;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.card__header,
.card__content {
  padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__image {
  width: 100%;
}

.card__image img {
  width: 100%;
}

.card__actions {
  padding: 1rem;
  text-align: center;
}

.card__actions button,
.card__actions a {
  margin: 0 0.25rem;
}

.btn {
  display: inline-block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  border: 1px solid #17975b;
  color: #17975b;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #17975b;
  color: white;
}

.footer-span {
  color: #ffffff;
}

.main-footer {
  width: 100%;
  height: 3.5rem;
  background-color: #17975b;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
}

.main-footer__item {
  color: white;
  font-weight: 400;
}

.staff-image {
  width: 50vw;
}

.space-div {
  height: 5vh;
}

.warning {
  color: red;
}

.card {
  width: 80vw;
  background-color: #17975b;
  border-radius: 10px;
  margin-bottom: 2vh;
  padding: 3vh;
  color: #ffffff;
}

.card:first-child {
  margin-top: 3vh;
}

.card hr {
  color: #ffffff;
}

.card span {
  padding-right: 2vw;
}

.card-staff {
  width: auto;
  border-radius: 10px;
  border: 1px #17975b solid;
  box-shadow: 0px 5px 5px #17975b;
  margin-bottom: 4vh;
}

.card-staff-info {
  margin-left: 3vh;
}

.card-staff-a {
  padding-bottom: 3vh;
}

.checkin-info-list {
  list-style-type: decimal;
}

@media (min-width: 768px) {
  .main-header__nav {
    display: flex;
  }

  #side-menu-toggle {
    display: none;
  }

  .staff-image {
    width: 30vw;
  }

  .space-div {
    height: 10vh;
  }
}
